#mobileNavbar {
  display: none;
}

@media only screen and (max-width: 470px) {
  #basic-navbar-nav {
    display: none;
  }
  #toggler {
    display: none;
  }
  #mobileSearchbar {
    display: block;
  }
}
